In [1]:
import pandas as pd

In [3]:
data=pd.read_csv(r"C:\Users\Nikhitha Siva\Desktop\data science\missing.csv")

In [4]:
data.isnull()

,EmployeeNumber,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1466,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1467,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1468,False,False,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1469,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
data.isnull().sum()

EmployeeNumber              0
Attrition                   2
Age                         1
BusinessTravel              3
DailyRate                   2
Department                  2
DistanceFromHome            5
Education                   1
EducationField              4
EnvironmentSatisfaction     1
Gender                      2
HourlyRate                  2
JobInvolvement              3
JobLevel                    1
JobRole                     3
JobSatisfaction             1
MaritalStatus               3
MonthlyIncome               7
MonthlyRate                 5
NumCompaniesWorked          3
OverTime                    2
PercentSalaryHike           0
PerformanceRating           1
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           1
TrainingTimesLastYear       1
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
data.isnull().any()

EmployeeNumber              False
Attrition                    True
Age                          True
BusinessTravel               True
DailyRate                    True
Department                   True
DistanceFromHome             True
Education                    True
EducationField               True
EnvironmentSatisfaction      True
Gender                       True
HourlyRate                   True
JobInvolvement               True
JobLevel                     True
JobRole                      True
JobSatisfaction              True
MaritalStatus                True
MonthlyIncome                True
MonthlyRate                  True
NumCompaniesWorked           True
OverTime                     True
PercentSalaryHike           False
PerformanceRating            True
RelationshipSatisfaction    False
StockOptionLevel            False
TotalWorkingYears            True
TrainingTimesLastYear        True
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [7]:
data.dropna().any()

EmployeeNumber              True
Attrition                   True
Age                         True
BusinessTravel              True
DailyRate                   True
Department                  True
DistanceFromHome            True
Education                   True
EducationField              True
EnvironmentSatisfaction     True
Gender                      True
HourlyRate                  True
JobInvolvement              True
JobLevel                    True
JobRole                     True
JobSatisfaction             True
MaritalStatus               True
MonthlyIncome               True
MonthlyRate                 True
NumCompaniesWorked          True
OverTime                    True
PercentSalaryHike           True
PerformanceRating           True
RelationshipSatisfaction    True
StockOptionLevel            True
TotalWorkingYears           True
TrainingTimesLastYear       True
WorkLifeBalance             True
YearsAtCompany              True
YearsInCurrentRole          True
YearsSinceLastPromotion     True
YearsWithCurrManager        True
dtype: bool

In [8]:
data.dropna().all()

EmployeeNumber               True
Attrition                    True
Age                          True
BusinessTravel               True
DailyRate                    True
Department                   True
DistanceFromHome             True
Education                    True
EducationField               True
EnvironmentSatisfaction      True
Gender                       True
HourlyRate                   True
JobInvolvement               True
JobLevel                     True
JobRole                      True
JobSatisfaction              True
MaritalStatus                True
MonthlyIncome                True
MonthlyRate                  True
NumCompaniesWorked          False
OverTime                     True
PercentSalaryHike            True
PerformanceRating            True
RelationshipSatisfaction     True
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance              True
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [9]:
data.fillna(value=0).isnull().sum()

EmployeeNumber              0
Attrition                   0
Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [10]:
data.head(10)

,EmployeeNumber,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,Yes,41.0,Travel_Rarely,1102.0,Sales,1.0,2.0,Life Sciences,2.0,...,3.0,1,0,8.0,0.0,1,6,4,0,5
1,2,No,49.0,Travel_Frequently,279.0,Research & Development,8.0,1.0,Life Sciences,3.0,...,4.0,4,1,10.0,3.0,3,10,7,1,7
2,3,Yes,37.0,Travel_Rarely,1373.0,Research & Development,2.0,2.0,Other,4.0,...,3.0,2,0,7.0,3.0,3,0,0,0,0
3,4,No,33.0,Travel_Frequently,1392.0,Research & Development,3.0,4.0,Life Sciences,4.0,...,3.0,3,0,8.0,3.0,3,8,7,3,0
4,5,No,27.0,Travel_Rarely,591.0,Research & Development,2.0,1.0,Medical,1.0,...,3.0,4,1,6.0,3.0,3,2,2,2,2
5,6,No,32.0,Travel_Frequently,1005.0,Research & Development,2.0,2.0,Life Sciences,4.0,...,3.0,3,0,8.0,2.0,2,7,7,3,6
6,7,No,59.0,Travel_Rarely,1324.0,Research & Development,3.0,3.0,Medical,3.0,...,4.0,1,3,12.0,3.0,2,1,0,0,0
7,8,No,30.0,Travel_Rarely,1358.0,Research & Development,24.0,1.0,Life Sciences,4.0,...,4.0,2,1,1.0,2.0,3,1,0,0,0
8,9,No,38.0,NaN,216.0,Research & Development,23.0,3.0,Life Sciences,4.0,...,4.0,2,0,10.0,2.0,3,9,7,1,8
9,10,No,36.0,Travel_Rarely,1299.0,Research & Development,27.0,3.0,Medical,3.0,...,3.0,2,2,17.0,3.0,2,7,7,7,7

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
si=SimpleImputer(strategy='most_frequent')

In [13]:
si.fit(data)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [14]:
si.fit(data[['Age']])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [15]:
data.Age.isnull().sum()

1

In [16]:
data.Age=si.transform(data[['Age']])

In [18]:
data['Age'].isnull().sum()

0

In [19]:
data.isnull().any()

EmployeeNumber              False
Attrition                    True
Age                         False
BusinessTravel               True
DailyRate                    True
Department                   True
DistanceFromHome             True
Education                    True
EducationField               True
EnvironmentSatisfaction      True
Gender                       True
HourlyRate                   True
JobInvolvement               True
JobLevel                     True
JobRole                      True
JobSatisfaction              True
MaritalStatus                True
MonthlyIncome                True
MonthlyRate                  True
NumCompaniesWorked           True
OverTime                     True
PercentSalaryHike           False
PerformanceRating            True
RelationshipSatisfaction    False
StockOptionLevel            False
TotalWorkingYears            True
TrainingTimesLastYear        True
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [20]:
data.isnull().sum()

EmployeeNumber              0
Attrition                   2
Age                         0
BusinessTravel              3
DailyRate                   2
Department                  2
DistanceFromHome            5
Education                   1
EducationField              4
EnvironmentSatisfaction     1
Gender                      2
HourlyRate                  2
JobInvolvement              3
JobLevel                    1
JobRole                     3
JobSatisfaction             1
MaritalStatus               3
MonthlyIncome               7
MonthlyRate                 5
NumCompaniesWorked          3
OverTime                    2
PercentSalaryHike           0
PerformanceRating           1
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           1
TrainingTimesLastYear       1
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [22]:
si2=SimpleImputer(strategy='most_frequent')

In [23]:
data['Department']=si2.fit_transform(data[['Department']])

In [24]:
data.Department.isnull().any()

False

In [25]:
data.Department.isnull().sum()

0

In [26]:
si2.fit_transform(data[['EducationField']])

array([['Life Sciences'],
       ['Life Sciences'],
       ['Other'],
       ...,
       ['Life Sciences'],
       ['Medical'],
       ['Medical']], dtype=object)

In [27]:
data.EducationField.isnull().sum()

4

In [28]:
data['EducationField']=si2.fit_transform(data[['EducationField']])

In [29]:
from sklearn.preprocessing import LabelEncoder

In [31]:
LE= LabelEncoder()

In [32]:
LE.fit_transform(data['Department'])

array([2, 1, 1, ..., 1, 1, 1])

In [33]:
LE.classes_

array(['Human Resources', 'Research & Development', 'Sales'], dtype=object)

In [34]:
LE1=LabelEncoder()

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
EmployeeNumber              1470 non-null int64
Attrition                   1468 non-null object
Age                         1470 non-null float64
BusinessTravel              1467 non-null object
DailyRate                   1468 non-null float64
Department                  1470 non-null object
DistanceFromHome            1465 non-null float64
Education                   1469 non-null float64
EducationField              1470 non-null object
EnvironmentSatisfaction     1469 non-null float64
Gender                      1468 non-null object
HourlyRate                  1468 non-null float64
JobInvolvement              1467 non-null float64
JobLevel                    1469 non-null float64
JobRole                     1467 non-null object
JobSatisfaction             1469 non-null float64
MaritalStatus               1467 non-null object
MonthlyIncome               1463 non-null float64
MonthlyRate                 1465 non-null float64
NumCompaniesWorked          1467 non-null float64
OverTime                    1468 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1469 non-null float64
RelationshipSatisfaction    1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1469 non-null float64
TrainingTimesLastYear       1469 non-null float64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: float64(15), int64(9), object(8)
memory usage: 367.6+ KB

In [36]:
data.Gender.isnull().sum()

2

In [38]:
simp3=SimpleImputer(strategy='most_frequent')

In [39]:
data['Gender']=simp3.fit_transform(data[['Gender']])

In [40]:
data.Gender.isnull().sum()

0

In [41]:
from sklearn.preprocessing import OneHotEncoder

In [44]:
OHE=OneHotEncoder(sparse=False)

In [47]:
OHE.fit_transform(data[['Gender']])

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [50]:
pd.get_dummies(data[['Gender','RelationshipSatisfaction']])

      RelationshipSatisfaction  Gender_Female  Gender_Male
0                            1              1            0
1                            4              0            1
2                            2              0            1
3                            3              1            0
4                            4              0            1
...                        ...            ...          ...
1465                         3              0            1
1466                         1              0            1
1467                         2              0            1
1468                         4              0            1
1469                         1              0            1

[1470 rows x 3 columns]