In [1]:
import pandas as pd

In [2]:
data=pd.read_csv

In [4]:
data=pd.read_csv(r"C:\Users\Nikhitha Siva\Desktop\data science\stock_market_index.csv")

In [5]:
data.shape

(24, 6)

In [6]:
data.columns

Index(['Unnamed: 0', 'Year', 'Month', 'Interest_Rate', 'Unemployment_Rate',
       'Stock_Index_Price'],
      dtype='object')

In [7]:
data.sample(10)

,Unnamed: 0,Year,Month,Interest_Rate,Unemployment_Rate,Stock_Index_Price
15,15,2016,9,1.75,6.1,958
1,1,2017,11,2.50,5.3,1394
10,10,2017,2,2.00,5.7,1130
20,20,2016,4,1.75,5.9,876
5,5,2017,7,2.50,5.6,1254
16,16,2016,8,1.75,6.2,971
8,8,2017,4,2.25,5.5,1159
17,17,2016,7,1.75,6.1,949
7,7,2017,5,2.25,5.5,1195
18,18,2016,6,1.75,6.1,884

In [8]:
data.loc[:,["Interest_Rate","Unemployment_Rate"]]

    Interest_Rate  Unemployment_Rate
0            2.75                5.3
1            2.50                5.3
2            2.50                5.3
3            2.50                5.3
4            2.50                5.4
5            2.50                5.6
6            2.50                5.5
7            2.25                5.5
8            2.25                5.5
9            2.25                5.6
10           2.00                5.7
11           2.00                5.9
12           2.00                6.0
13           1.75                5.9
14           1.75                5.8
15           1.75                6.1
16           1.75                6.2
17           1.75                6.1
18           1.75                6.1
19           1.75                6.1
20           1.75                5.9
21           1.75                6.2
22           1.75                6.2
23           1.75                6.1

In [9]:
X=data.loc[:,["Interest_Rate","Unemployment_Rate"]]

In [10]:
X

    Interest_Rate  Unemployment_Rate
0            2.75                5.3
1            2.50                5.3
2            2.50                5.3
3            2.50                5.3
4            2.50                5.4
5            2.50                5.6
6            2.50                5.5
7            2.25                5.5
8            2.25                5.5
9            2.25                5.6
10           2.00                5.7
11           2.00                5.9
12           2.00                6.0
13           1.75                5.9
14           1.75                5.8
15           1.75                6.1
16           1.75                6.2
17           1.75                6.1
18           1.75                6.1
19           1.75                6.1
20           1.75                5.9
21           1.75                6.2
22           1.75                6.2
23           1.75                6.1

In [11]:
Y=data.loc[:,["Stock_Index_Price"]]

In [12]:
Y

    Stock_Index_Price
0                1464
1                1394
2                1357
3                1293
4                1256
5                1254
6                1234
7                1195
8                1159
9                1167
10               1130
11               1075
12               1047
13                965
14                943
15                958
16                971
17                949
18                884
19                866
20                876
21                822
22                704
23                719

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
train_x, test_x, train_y, test_y=train_test_split(X,Y,test_size=.2,random_state=2)

In [47]:
train_x.shape

(19, 2)

In [48]:
test_x.shape

(5, 2)

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
model=LinearRegression()

In [51]:
model.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
model.predict(test_x)

array([[ 887.44160078],
       [1426.86910099],
       [ 887.44160078],
       [1295.73583829],
       [ 947.01939848]])

In [53]:
test_x

    Interest_Rate  Unemployment_Rate
21           1.75                6.2
0            2.75                5.3
22           1.75                6.2
6            2.50                5.5
14           1.75                5.8

In [54]:
model.coef_

array([[ 405.37745538, -148.94449425]])

In [44]:
model.intercept_

array([1101.48691825])