In [1]:
import pandas as pd

In [20]:
data=pd.read_csv(r"C:\Users\Nikhitha Siva\Desktop\data science\BlueOrRed.csv")

In [21]:
data.isnull()

,Undecided,Age,HomeOwner,Female,Married,HouseholdSize,Income,Education,Church
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False

In [22]:
data.isnull().sum()

Undecided        0
Age              1
HomeOwner        2
Female           4
Married          5
HouseholdSize    3
Income           1
Education        5
Church           3
dtype: int64

In [18]:
data.columns

Index(['Undecided', 'Age', 'HomeOwner', 'Female', 'Married', 'HouseholdSize',
       'Income', 'Education', 'Church'],
      dtype='object')

In [23]:
from sklearn.impute import SimpleImputer

In [25]:
si=SimpleImputer(strategy='most_frequent')

In [47]:
mc=['Age', 'HomeOwner', 'Female', 'Married', 'HouseholdSize',
       'Income', 'Education', 'Church']
for key in mc:
    data[key]=si.fit_transform(data[[key]])
data.isnull().sum()
#use the above code to fill intelligently using a "for loop" instead of filling each column seperately

Undecided        0
Age              0
HomeOwner        0
Female           0
Married          0
HouseholdSize    0
Income           0
Education        0
Church           0
dtype: int64

In [27]:
data['Age']=si.fit_transform(data[['Age']])

In [28]:
data.Age.isnull().sum()

0

In [29]:
data['HomeOwner']=si.fit_transform(data[['HomeOwner']])

In [30]:
data.HomeOwner.isnull().sum()

0

In [31]:
data['Female']=si.fit_transform(data[['Female']])
data.Female.isnull().sum()

0

In [32]:
data['Married']=si.fit_transform(data[['Married']])
data.Married.isnull().sum()

0

In [33]:
data['HouseholdSize']=si.fit_transform(data[['HouseholdSize']])
data.HouseholdSize.isnull().sum()

0

In [34]:
data['Income']=si.fit_transform(data[['Income']])
data.Income.isnull().sum()

0

In [35]:
data['Education']=si.fit_transform(data[['Education']])
data.Education.isnull().sum()

0

In [36]:
data['Church']=si.fit_transform(data[['Church']])
data.Church.isnull().sum()

0

In [37]:
data.isnull().sum()

Undecided        0
Age              0
HomeOwner        0
Female           0
Married          0
HouseholdSize    0
Income           0
Education        0
Church           0
dtype: int64